@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    min-height: 100%;

}

.header {
    // border: 2px #9EADBA solid;
    padding-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.526);
    

    &-top-border {
        background-color: #9EADBA;
        padding-top: 2rem;
        
    }
    &-container {
        margin: 0;
        padding: 0;
        border: 2px #9EADBA solid;
        h1 {
            font-family: 'Poppins', sans-serif;
            font-size: 25pt;
            text-align: center;            
        }
    }

    &-search {
        margin-top: 1rem;
        padding: 0 1rem;
        display: grid;
        grid-template-columns: 35% 35%;
        justify-content:space-between;
        


        select, input {
            font-family:'Poppins', sans-serif; ;
            padding: 0.2rem 1rem;
            border: 0px black solid;
            background-color: #cfdbe5;
        }
    

    }

    

}

.container {
    // background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7);
    // bottom: 0px;
    // display: flex;
    // flex-direction: column;
    // height: 
    min-height: 75vh;

    &-background {
        display: grid;
        grid-template-columns: 90%;
        justify-content: center;
        padding: 2rem;
        row-gap: 2rem;
        &-current {
            padding: 2rem;
            background-color: #9eadba3a;
            text-align: center;
        }

        &-forecast {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            column-gap: 1rem;
            &-01, &-02, &-03, &-04, &-05 {
                background-color: #9eadba3a;
                text-align: center;
                
            }
        }

        &-hour {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            column-gap: 1rem;
            &-01, &-02, &-03, &-04, &-05, &-06, &-07, &-08 {
                background-color: #9eadba3a;
                text-align: center;
            }
        }
    }
}

.footer {

    background-color: #9EADBA;
    text-align: center;
    bottom: 0px;
    padding: 0.5rem;
    color: rgb(65, 65, 65);
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    -moz-column-gap: 10rem;
    column-gap: 10rem;
 
    &-btnClear {
        padding: 0rem 1rem;
        background-color: rgba(148, 148, 148, 0.638);
        border: 0;
        cursor: pointer;
    }

}



@media only screen and (max-width: 450px) {

    h1.pageTitle {
        font-size: 20pt;
    }
    .header-search {
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
        
    }
}

@media only screen and (max-width: 600px) {
    .container-background-forecast {
        display: grid;
        grid-template-columns: 100%;
        row-gap: 1rem;
    }

    .container-background-hour {
        display: grid;
        grid-template-columns: 100%;
        row-gap: 1rem;
    }

}


.name{ 
    display: flex;
    flex-direction: row;
    align-content: center;
}


.nameleft{
    width: 60%; 
    text-align: center;
}


.nameright{
    width: 40%; 
    align-content: center;
}


.descr{
    font-size: 30px;
    font-weight: bold;   
    display: inline-flex;
    align-items: center;
}


.temp{
    font-size: 20px;
    font-weight: bold;   
}


.feel{
    font-size: 20px;
}

.favbtn {
    color: rgb(253, 219, 0);
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }

  .loader-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.736);
  }

.loader {
    border: 8px solid #787878;
    /* Light grey */
    border-top: 8px solid #3d9edf;
    /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
    position: absolute;
  }

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}