@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100;400&display=swap");
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  min-height: 100%;
  font-family: "Poppins";
}

.header {
  padding-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0.526);
}
.header-top-border {
  background-color: #9EADBA;
  padding-top: 2rem;
}
.header-container {
  margin: 0;
  padding: 0;
  border: 2px #9EADBA solid;
}
.header-container h1 {
  font-family: "Poppins", sans-serif;
  font-size: 25pt;
  text-align: center;
}
.header-search {
  margin-top: 1rem;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 35% 35%;
  justify-content: space-between;
}
.header-search select, .header-search input {
  font-family: "Poppins", sans-serif;
  padding: 0.2rem 1rem;
  border: 0px black solid;
  background-color: #cfdbe5;
}

.container {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.736);
  min-height: 75vh;
}
.container-background {
  display: grid;
  grid-template-columns: 90%;
  justify-content: center;
  padding: 2rem;
  row-gap: 2rem;
}
.container-background-current {
  padding: 2rem;
  background-color: rgba(158, 173, 186, 0.2274509804);
  text-align: center;
}
.container-background-forecast {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.container-background-forecast-01, .container-background-forecast-02, .container-background-forecast-03, .container-background-forecast-04, .container-background-forecast-05 {
  background-color: rgba(158, 173, 186, 0.2274509804);
  text-align: center;
}
.container-background-forecast-01 .line, .container-background-forecast-02 .line, .container-background-forecast-03 .line, .container-background-forecast-04 .line, .container-background-forecast-05 .line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.container-background-forecast-01 .day, .container-background-forecast-02 .day, .container-background-forecast-03 .day, .container-background-forecast-04 .day, .container-background-forecast-05 .day {
  font-size: 20pt;
  font-weight: bold;
  font-family: "Bebas Neue";
}
.container-background-forecast-01 .title, .container-background-forecast-02 .title, .container-background-forecast-03 .title, .container-background-forecast-04 .title, .container-background-forecast-05 .title {
  font-size: 20pt;
  font-weight: bold;
}
.container-background-forecast-01 .info, .container-background-forecast-02 .info, .container-background-forecast-03 .info, .container-background-forecast-04 .info, .container-background-forecast-05 .info {
  font-size: 20pt;
}
.container-background-hour {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.container-background-hour-01, .container-background-hour-02, .container-background-hour-03, .container-background-hour-04, .container-background-hour-05, .container-background-hour-06, .container-background-hour-07, .container-background-hour-08 {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  background-color: rgba(158, 173, 186, 0.2274509804);
  text-align: center;
}
.container-background-hour-01 .hours, .container-background-hour-02 .hours, .container-background-hour-03 .hours, .container-background-hour-04 .hours, .container-background-hour-05 .hours, .container-background-hour-06 .hours, .container-background-hour-07 .hours, .container-background-hour-08 .hours {
  font-size: 20pt;
  font-weight: bold;
  font-family: "Bebas Neue";
}
.container-background-hour-01 .title, .container-background-hour-02 .title, .container-background-hour-03 .title, .container-background-hour-04 .title, .container-background-hour-05 .title, .container-background-hour-06 .title, .container-background-hour-07 .title, .container-background-hour-08 .title {
  font-size: 20pt;
  font-weight: bold;
  font-family: "Bebas Neue";
}
.container-background-hour-01 .info, .container-background-hour-02 .info, .container-background-hour-03 .info, .container-background-hour-04 .info, .container-background-hour-05 .info, .container-background-hour-06 .info, .container-background-hour-07 .info, .container-background-hour-08 .info {
  font-size: 20pt;
}

.footer {
  background-color: #9EADBA;
  text-align: center;
  bottom: 0px;
  padding: 0.5rem;
  color: rgb(65, 65, 65);
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  -moz-column-gap: 10rem;
  column-gap: 10rem;
}
.footer-btnClear {
  padding: 0rem 1rem;
  background-color: rgba(148, 148, 148, 0.638);
  border: 0;
  cursor: pointer;
}

.name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

.nameleft {
  font-size: 40pt;
  font-weight: 400;
  font-family: "Bebas Neue";
}

.descr {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  font-size: 40px;
}

.temp {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 1em;
}

.feel {
  font-size: 20px;
  padding-bottom: 1em;
}

.other {
  font-size: 20px;
}

.minmax {
  font-size: 20px;
}

span {
  font-size: 16px;
}

a {
  color: black;
  font-style: normal;
  font-size: 16px;
  text-decoration: none;
}

a:hover {
  color: rgb(248, 149, 2);
}

.favbtn {
  color: rgb(253, 219, 0);
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.loader-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.736);
}

.loader {
  border: 8px solid #787878;
  /* Light grey */
  border-top: 8px solid #3d9edf;
  /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: absolute;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 1000px) {
  .container-background-forecast {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
  }
}
@media only screen and (max-width: 1120px) {
  .container-background-hour {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1rem;
  }
}
@media only screen and (max-width: 600px) {
  .container-background-forecast {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 1rem;
  }

  .container-background-hour {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 1rem;
  }
}
@media only screen and (max-width: 450px) {
  h1.pageTitle {
    font-size: 20pt;
  }

  .header-search {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }

  .footer {
    display: flex;
    flex-direction: column;
  }
}/*# sourceMappingURL=index.css.map */