@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    min-height: 100%;

}

.header {
    // border: 2px #9EADBA solid;
    padding-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.526);
    

    &-top-border {
        background-color: #9EADBA;
        padding-top: 2rem;
        
    }
    &-container {
        margin: 0;
        padding: 0;
        border: 2px #9EADBA solid;
        h1 {
            font-family: 'Poppins', sans-serif;
            font-size: 25pt;
            text-align: center;            
        }
    }

    &-search {
        margin-top: 1rem;
        padding: 0 1rem;
        display: grid;
        grid-template-columns: 35% 35%;
        justify-content:space-between;
        


        select, input {
            font-family:'Poppins', sans-serif; ;
            padding: 0.2rem 1rem;
            border: 0px black solid;
            background-color: #cfdbe5;
        }
    

    }

    

}

.container {
    // background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7);
    // bottom: 0px;
    // display: flex;
    // flex-direction: column;
    // height: 
    min-height: 75vh;

    &-background {
        display: grid;
        grid-template-columns: 90%;
        justify-content: center;
        padding: 2rem;
        row-gap: 2rem;
        &-current {
            padding: 2rem;
            background-color: #9eadba3a;
            text-align: center;
        }

        &-forecast {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            column-gap: 1rem;
            &-01, &-02, &-03, &-04, &-05 {
                background-color: #9eadba3a;
                text-align: center;
                
            }
        }

        &-hour {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            column-gap: 1rem;
            &-01, &-02, &-03, &-04, &-05, &-06, &-07, &-08 {
                background-color: #9eadba3a;
                text-align: center;
            }
        }
    }
}

.footer {
    background-color: #9EADBA;
    text-align: center;
    bottom: 0px;
    padding: 0.5rem;

    color: rgb(65, 65, 65);
    font-family: 'Poppins', sans-serif;
}



@media only screen and (max-width: 450px) {

    h1.pageTitle {
        font-size: 20pt;
    }
    .header-search {
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
        
    }
}

@media only screen and (max-width: 600px) {
    .container-background-forecast {
        display: grid;
        grid-template-columns: 100%;
        row-gap: 1rem;
    }

    .container-background-hour {
        display: grid;
        grid-template-columns: 100%;
        row-gap: 1rem;
    }

}


.name{ 
    display: flex;
    flex-direction: row;
    align-content: center;
}


.nameleft{
    width: 60%; 
    text-align: center;
}


.nameright{
    width: 40%; 
    align-content: center;
}


.descr{
    font-size: 40px;
    font-weight: bold;   
    display: inline-flex;
    align-items: center;
    padding-bottom: 1em;
}


.temp{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 1em; 
}


.feel{
    font-size: 20px;
    padding-bottom: 1em;
}

.other{
    font-size: 20px;
}

.minmax{
    font-size: 20px;
}

span{
    font-size: 16px;
}


a {
    color: black;
    font-style: normal;
    font-size: 16px;
    text-decoration: none;
    }
    
     
    a:hover{
      color:rgb(248, 149, 2);
    }